<div class="footer-wrapper">
  <div class="footer-row">
    @if (authService.privacypolicy$ | async; as pP) {
      <div class="footer-links">
        @if (pP?.tosLink) {
          <a target="_blank" rel="noreferrer" [href]="pP?.tosLink" external>
            <span>{{ 'FOOTER.LINKS.TOS' | translate }}</span>
            <i class="las la-external-link-alt"></i>
          </a>
        }
        @if (pP?.privacyLink) {
          <a target="_blank" rel="noreferrer" [href]="pP?.privacyLink" external>
            <span>{{ 'FOOTER.LINKS.PP' | translate }}</span>
            <i class="las la-external-link-alt"></i>
          </a>
        }
      </div>
    }

    <div class="theme">
      <cnsl-theme-setting></cnsl-theme-setting>
    </div>
  </div>
</div>
